.wrapper {
  margin: 24px auto 0 24px;
  max-width: 1000px;
  padding-top: 2rem;
  margin: 0 auto;
  background-color: antiquewhite;
  
}
.title{
  font-size: 2.4rem;
  font-weight: 500;;
}
.list {
  width: 100%;
}

.date{
  font-size: 1.2rem;
  margin-top: 4px;
}
.article{
  padding-top: 2rem;
  font-size: 2rem;
  *{
    margin-top: 1rem;
  }
}
.tag{
  display: flex;
  font-size: 2rem;
  gap: 2.4rem;
  color:black;
}

